<%= form_with(model: @tweet) do |f| %> 
  <%= render 'shared/error_messages', object: f.object %> 
  <div class="field"> 
    <%= f.text_area :content, placeholder: "What are you thinking..." %> 
  </div> 
  <%= f.submit "Post Tweet", class: "btn btn-primary" %>
 <% end %>